/*flex-1 row em linha*/
.flex-1{
    background-color: azure;
    /*alterando o display da div flex para ficar mais facil estilizar as posições dos elementos filhos*/
    display: flex;
}
/*flex-2 de coluna em coluna*/
.flex-coluna{
    background-color: bisque;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    /*o flex direction altera a disposição dos elementos para o tipo coluna colocando um embaixo do outro*/
    flex-direction: column;
}
.wrap{
    background-color: bisque;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    
}
img{
    width: 200px;
    margin: 10px;
}/*flex 4- centralizando*/
.centralizar-x{
    background-color: bisque;
    padding: 20px;
    margin-top: 30px;
    display: flex;
   justify-content: center;
}
.space-around{
    background-color: bisque;
    padding: 20px;
    margin-top: 30px;
    display: flex;
   justify-content: space-around;
}
.space-between{
    background-color: bisque;
    margin-top: 30px;
    display: flex;
   justify-content: space-between;
}
.space-flexand{
    background-color: bisque;
    margin-top: 30px;
    display: flex;
   justify-content: flex-end;
}
.space-esquerda{
    background-color: bisque;
    margin-top: 30px;
    display: flex;
   justify-content: flex-start;
}
.centralizar-y{
    background-color: bisque;
    margin-top: 30px;
    display: flex;
   justify-content: center;
   height: 500px;
   align-items: center;
}


